* {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  scroll-behavior: smooth; }

button {
  display: flex;
  border-radius: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer; }
  button:hover, button:focus {
    outline: none; }

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0; }

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  text-decoration: none;
  border-radius: 8px; }

.btn-primary {
  background-color: #3d5afe;
  color: #fbfcfb; }

.btn-outline-primary {
  border: 1px solid #3d5afe;
  background-color: #fff; }

.logo {
  width: 24px;
  height: 24px; }

* {
  padding: 0;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  scroll-behavior: smooth; }

button {
  display: flex;
  border-radius: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer; }
  button:hover, button:focus {
    outline: none; }

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0; }

.hero .title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1; }
  @media screen and (min-width: 1024px) {
    .hero .title {
      font-size: 56px;
      line-height: 1.1; } }

.app__content--title, .suscriptions .plans .plan__content--title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2; }
  @media screen and (min-width: 1024px) {
    .app__content--title, .suscriptions .plans .plan__content--title {
      font-size: 48px;
      line-height: 1.2; } }

.suscriptions__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2; }
  @media screen and (min-width: 1024px) {
    .suscriptions__title {
      font-size: 40px;
      line-height: 1.2; } }

.hero .subtitle, .users__title, .users .cards .card__title, .benefits__title, .benefits .article__content--title, .suscriptions .plans .plan__content--description span {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3; }
  @media screen and (min-width: 1024px) {
    .hero .subtitle, .users__title, .users .cards .card__title, .benefits__title, .benefits .article__content--title, .suscriptions .plans .plan__content--description span {
      font-size: 18px;
      line-height: 1.4; } }

.hero .paragraph, .app__content--description, .suscriptions__description, .suscriptions .plans .plan__content--description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3; }
  @media screen and (min-width: 1024px) {
    .hero .paragraph, .app__content--description, .suscriptions__description, .suscriptions .plans .plan__content--description {
      font-size: 18px;
      line-height: 1.4; } }

.benefits .article__content--topic {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3; }
  @media screen and (min-width: 1024px) {
    .benefits .article__content--topic {
      font-size: 16px;
      line-height: 1.4; } }

.users .cards .card__paragraph, .benefits .article__content ul li, .footer .asimov__detail {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3; }
  @media screen and (min-width: 1024px) {
    .users .cards .card__paragraph, .benefits .article__content ul li, .footer .asimov__detail {
      font-size: 16px;
      line-height: 1.4; } }

.hero a {
  font-size: 20px;
  font-weight: 500;
  line-height: 1; }

.users .cards .card a, .app__content--actions .btn, .footer .asimov__apps button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1; }

.navbar .content ul, .navbar .content a, .sidebar__list li, .sidebar a, .footer .navbar__botton--item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1; }

.hero .wrapper, .users .wrapper, .benefits .wrapper {
  margin: auto;
  max-width: 1440px;
  padding-right: 16px;
  padding-left: 16px; }
  @media (min-width: 768px) {
    .hero .wrapper, .users .wrapper, .benefits .wrapper {
      padding-right: 24px;
      padding-left: 24px; } }
  @media (min-width: 1024px) {
    .hero .wrapper, .users .wrapper, .benefits .wrapper {
      padding-right: 60px;
      padding-left: 60px; } }

.navbar {
  padding-right: 16px;
  padding-left: 16px; }
  @media (min-width: 768px) {
    .navbar {
      padding-right: 24px;
      padding-left: 24px; } }
  @media (min-width: 1024px) {
    .navbar {
      padding-right: 60px;
      padding-left: 60px; } }
  @media (min-width: 1440px) {
    .navbar {
      padding-left: calc(50vw - 720px + 60px);
      padding-right: calc(50vw - 720px + 60px); } }

.benefits .article__content ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 999px;
  color: default;
  left: -18px;
  top: 6px; }

.root {
  height: 100vh;
  overflow-x: hidden; }

.navbar {
  width: 100%;
  position: fixed;
  background-color: #000626;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 10; }
  .navbar .logo {
    max-height: 24px; }
    .navbar .logo > img {
      width: 93px; }
  .navbar .content {
    display: none;
    align-items: center;
    gap: 44px; }
    @media (min-width: 768px) {
      .navbar .content {
        display: flex; } }
    .navbar .content ul {
      display: flex;
      gap: 24px;
      color: #fbfcfb; }
  .navbar .menu-btn {
    display: flex;
    flex-direction: column;
    gap: 3px; }
    .navbar .menu-btn span {
      display: block;
      width: 18px;
      height: 2px;
      background: #fff;
      transform-origin: 0 100%;
      transition: all 200ms; }
    .navbar .menu-btn .active-line1 {
      transform: translate(-1px, -3px) rotate(45deg); }
    .navbar .menu-btn .active-line2 {
      opacity: 0; }
    .navbar .menu-btn .active-line3 {
      transform: rotate(-45deg); }
    @media (min-width: 768px) {
      .navbar .menu-btn {
        display: none; } }

.active-sidebar {
  transform: translate(-100%, 0px); }

.sidebar {
  position: fixed;
  z-index: 9;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: #000626;
  color: #fbfcfb;
  transition: all 200ms;
  padding: 57px 16px; }
  .sidebar__list li {
    padding: 16px 0;
    border-bottom: 1px solid rgba(251, 252, 251, 0.2); }
  .sidebar a {
    margin-top: 32px; }

.hero .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 116px; }
  @media (min-width: 1024px) {
    .hero .wrapper {
      padding-top: 150px; } }
.hero .title {
  padding-bottom: 24px;
  max-width: 714px; }
  @media (min-width: 1024px) {
    .hero .title {
      padding-bottom: 40px; } }
  .hero .title span {
    background: linear-gradient(180deg, #bac4ff 0%, #3d5afe 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; }
.hero .subtitle {
  padding-bottom: 8px; }
  @media (min-width: 1024px) {
    .hero .subtitle {
      padding-bottom: 12px; } }
.hero .paragraph {
  padding-bottom: 24px;
  max-width: 614px; }
.hero a {
  padding: 12px 28px; }
  @media (min-width: 1024px) {
    .hero a {
      padding: 12px 36px; } }

.users .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px; }
.users__title {
  padding: 0 16px 34px;
  text-align: center; }
.users .cards {
  display: grid;
  gap: 16px; }
  @media (min-width: 768px) {
    .users .cards {
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 1024px) {
    .users .cards {
      gap: 36px; } }
  .users .cards .card {
    background-color: #fbfcfb;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    padding: 16px 30px; }
    @media (min-width: 768px) {
      .users .cards .card {
        max-width: 380px; } }
    @media (min-width: 1024px) {
      .users .cards .card {
        padding: 24px 34px; } }
    .users .cards .card__title {
      padding: 12px 0; }
    .users .cards .card__paragraph {
      padding-bottom: 16px; }
    .users .cards .card a {
      margin-top: auto;
      color: #3d5afe; }

.benefits {
  background-color: #000626;
  color: #fbfcfb;
  margin-top: 40px; }
  .benefits .wrapper {
    padding-top: 42px;
    padding-bottom: 42px; }
  .benefits__title {
    text-align: center;
    padding-bottom: 32px; }
    @media (min-width: 1024px) {
      .benefits__title {
        padding-bottom: 48px; } }
  .benefits .article {
    display: flex;
    flex-direction: column;
    gap: 44px;
    padding-bottom: 40px; }
    @media (min-width: 768px) {
      .benefits .article {
        flex-direction: row;
        align-items: center;
        justify-content: center; } }
    .benefits .article__content--topic {
      color: #3d5afe;
      padding-bottom: 4px; }
    .benefits .article__content--title {
      padding-bottom: 16px; }
    .benefits .article__content ul {
      padding-left: 26px; }
      .benefits .article__content ul li:not(:last-child) {
        padding-bottom: 8px; }
      .benefits .article__content ul li::before {
        background-color: #3d5afe; }
    .benefits .article .image {
      display: grid;
      justify-items: center; }
      .benefits .article .image img {
        max-width: 100%;
        max-height: 270px; }
  @media (min-width: 768px) {
    .benefits .teacher {
      flex-direction: row-reverse; } }

.app {
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px; }
  .app .wrapper {
    position: relative;
    padding: 24px 24px 0 24px;
    display: flex;
    flex-direction: column; }
    @media (min-width: 1024px) {
      .app .wrapper {
        flex-direction: row;
        justify-content: center;
        padding: 58px 58px 0 58px; } }
  .app .wrapper::after {
    content: "";
    z-index: 0;
    position: absolute;
    background: linear-gradient(180deg, #bac4ff 0%, #3d5afe 100%);
    border-radius: 8px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    @media (min-width: 1024px) {
      .app .wrapper::after {
        height: 76.9%;
        justify-content: center; } }
  .app__content {
    z-index: 1; }
    @media (min-width: 1024px) {
      .app__content {
        margin-top: 26px; } }
    .app__content--title {
      padding-bottom: 24px;
      max-width: 410px;
      color: #fff; }
    .app__content--description {
      padding-bottom: 24px;
      max-width: 580px;
      color: #fff; }
    .app__content--actions {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      min-width: none; }
      @media (min-width: 768px) {
        .app__content--actions {
          gap: 24px;
          min-width: 314px; } }
      .app__content--actions .btn img {
        margin-right: 8px; }
  .app .image {
    z-index: 1;
    display: grid;
    justify-items: center;
    margin-top: 32px; }
    .app .image img {
      max-width: 328px; }
    @media (min-width: 1024px) {
      .app .image {
        margin-top: 0; }
        .app .image img {
          max-width: 498px;
          width: auto; } }

.suscriptions {
  margin-top: 64px;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  justify-content: center; }
  .suscriptions__title {
    text-align: center;
    margin-bottom: 12px; }
  .suscriptions__description {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 32px; }
  .suscriptions .plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px; }
    @media (min-width: 768px) {
      .suscriptions .plans {
        flex-direction: row;
        justify-content: space-between; } }
    .suscriptions .plans .plan {
      display: flex;
      align-items: center;
      flex-direction: column; }
      .suscriptions .plans .plan__content {
        background-color: #fbfcfb;
        padding: 24px 64px;
        border-radius: 8px;
        text-align: center; }
        .suscriptions .plans .plan__content--title {
          text-align: center; }
        .suscriptions .plans .plan__content--description {
          max-width: 233px;
          margin-top: 12px;
          margin-bottom: 20px; }
        .suscriptions .plans .plan__content--description p {
          padding-bottom: 20px; }
        .suscriptions .plans .plan__content--actions {
          display: flex;
          justify-content: center; }
          .suscriptions .plans .plan__content--actions .btn {
            width: 200px; }
      .suscriptions .plans .plan .features {
        margin-top: 24px;
        display: grid;
        flex-direction: column;
        row-gap: 16px; }
        .suscriptions .plans .plan .features .feature {
          display: grid;
          grid-template-columns: 40px auto;
          align-items: center; }
          .suscriptions .plans .plan .features .feature img {
            margin-right: 20px; }

.footer {
  background-color: #000626;
  color: #fff;
  margin-top: 64px;
  padding: 24px 16px 32px 16px; }
  @media (min-width: 768px) {
    .footer {
      padding: 32px 60px; } }
  .footer .asimov {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; }
    .footer .asimov__detail {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      margin-bottom: 28px; }
    .footer .asimov__apps {
      display: flex;
      justify-content: center;
      column-gap: 16px; }
      .footer .asimov__apps button span {
        display: none; }
        @media (min-width: 768px) {
          .footer .asimov__apps button span {
            display: inline; } }
      .footer .asimov__apps button img {
        margin-right: none; }
        @media (min-width: 768px) {
          .footer .asimov__apps button img {
            margin-right: 8px; } }
  .footer .navbar__botton {
    margin-bottom: 44px;
    display: block; }
    @media (min-width: 768px) {
      .footer .navbar__botton {
        display: grid;
        grid-template-columns: repeat(2, 1fr); } }
    .footer .navbar__botton--item {
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid #fff;
      margin-bottom: 8px; }
      @media (min-width: 768px) {
        .footer .navbar__botton--item {
          border-bottom: none; } }
  .footer .rights {
    text-align: center; }

/*# sourceMappingURL=index.css.map */
