@import "buttons";
@import "config";
@import "mixins/mixins";
@import "breakpoints";
@import "utils";

// How use sass?
// Install sass
// Write in your console "sass --watch sass:css"

.root {
  height: 100vh;
  overflow-x: hidden;
}

//Navbar
.navbar {
  @extend %wrapper-full;
  width: 100%;
  position: fixed;
  background-color: $secondary-color-700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 10;

  .logo {
    max-height: 24px;
    & > img {
      width: 93px;
    }
  }

  .content {
    display: none;
    align-items: center;
    gap: 44px;

    @media (min-width: $phone-xl) {
      display: flex;
    }

    ul {
      display: flex;
      @extend %b-small;
      gap: 24px;
      color: $secondary-text-color;
    }

    a {
      @extend %b-small;
    }
  }

  .menu-btn {
    display: flex;
    flex-direction: column;
    gap: 3px;

    span {
      display: block;
      width: 18px;
      height: 2px;
      background: $white-color;
      transform-origin: 0 100%;
      transition: all 200ms;
    }

    .active-line1 {
      transform: translate(-1px, -3px) rotate(45deg);
    }

    .active-line2 {
      opacity: 0;
    }

    .active-line3 {
      transform: rotate(-45deg);
    }

    @media (min-width: $phone-xl) {
      display: none;
    }
  }
}

//Sidebar
.active-sidebar {
  transform: translate(-100%, 0px);
}

.sidebar {
  position: fixed;
  z-index: 9;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: $secondary-color-700;
  color: $secondary-text-color;
  transition: all 200ms;
  padding: 57px 16px;

  &__list {
    li {
      @extend %b-small;
      padding: 16px 0;
      border-bottom: 1px solid rgba(#fbfcfb, 0.2);
    }
  }

  a {
    @extend %b-small;
    margin-top: 32px;
  }
}

//Hero
.hero {
  .wrapper {
    @extend %wrapper-section;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 116px;

    @media (min-width: $tablet-lg) {
      padding-top: 150px;
    }
  }
  .title {
    @extend %h1-bold;
    padding-bottom: 24px;
    max-width: 714px;

    @media (min-width: $tablet-lg) {
      padding-bottom: 40px;
    }

    span {
      background: linear-gradient(
        180deg,
        $primary-color-300 0%,
        $primary-color-600 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
  .subtitle {
    @extend %p1-bold;
    padding-bottom: 8px;
    @media (min-width: $tablet-lg) {
      padding-bottom: 12px;
    }
  }
  .paragraph {
    @extend %p1-regular;
    padding-bottom: 24px;
    max-width: 614px;
  }
  a {
    @extend %b-large;
    padding: 12px 28px;
    @media (min-width: $tablet-lg) {
      padding: 12px 36px;
    }
  }
}

//Users
.users {
  .wrapper {
    @extend %wrapper-section;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
  }

  &__title {
    @extend %p1-bold;
    padding: 0 16px 34px;
    text-align: center;
  }

  .cards {
    display: grid;
    gap: 16px;

    @media (min-width: $phone-xl) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $tablet-lg) {
      gap: 36px;
    }

    .card {
      background-color: $neutral-color-100;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      align-items: center;
      padding: 16px 30px;

      @media (min-width: $phone-xl) {
        max-width: 380px;
      }

      @media (min-width: $tablet-lg) {
        padding: 24px 34px;
      }

      &__title {
        @extend %p1-bold;
        padding: 12px 0;
      }

      &__paragraph {
        @extend %p2-regular;
        padding-bottom: 16px;
      }

      a {
        margin-top: auto;
        color: $primary-color-600;
        @extend %b-medium;
      }
    }
  }
}

//Benefits
.benefits {
  background-color: $secondary-color-1000;
  color: $secondary-text-color;
  margin-top: 40px;

  .wrapper {
    @extend %wrapper-section;
    padding-top: 42px;
    padding-bottom: 42px;
  }

  &__title {
    @extend %p1-bold;
    text-align: center;
    padding-bottom: 32px;

    @media (min-width: $tablet-lg) {
      padding-bottom: 48px;
    }
  }

  //article
  .article {
    display: flex;
    flex-direction: column;
    gap: 44px;
    padding-bottom: 40px;
    @media (min-width: $phone-xl) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    &__content {
      &--topic {
        @extend %p2-bold;
        color: $primary-color-600;
        padding-bottom: 4px;
      }
      &--title {
        @extend %p1-bold;
        padding-bottom: 16px;
      }
      ul {
        padding-left: 26px;
        li {
          @extend %p2-regular;
          &:not(:last-child) {
            padding-bottom: 8px;
          }
          &::before {
            @extend %custom-list-style;
            background-color: $primary-color-600;
          }
        }
      }
    }

    .image {
      display: grid;
      justify-items: center;
      img {
        max-width: 100%;
        max-height: 270px;
      }
    }
  }

  //teacher
  .teacher {
    @media (min-width: $phone-xl) {
      flex-direction: row-reverse;
    }
  }
}


//Mobile-app
.app {
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;

  .wrapper {
    position: relative;
    padding: 24px 24px 0 24px;
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-lg) { 
      flex-direction: row;
      justify-content: center;
      padding: 58px 58px 0 58px;
    }
  }

  .wrapper::after {
    content: "";
    z-index: 0;
    position: absolute;
    background: linear-gradient(180deg, $primary-color-300 0%, $primary-color-600 100%);
    border-radius: 8px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @media (min-width: $tablet-lg) {
      height: 76.9%;
      justify-content: center;
    }
  }

  &__content {
    z-index: 1;

    @media (min-width: $tablet-lg) {
      margin-top: 26px;
    }

    &--title {
      @extend %h2-bold;
      padding-bottom: 24px;
      max-width: 410px;
      color: $white-color;
    }
  
    &--description {
      @extend %p1-regular;
      padding-bottom: 24px;
      max-width: 580px;
      color: $white-color;
    }

    &--actions {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      min-width: none;

      @media (min-width: $phone-xl) {
        gap: 24px;
        min-width: 314px;
      }
  
      .btn {
        @extend %b-medium;
      }
  
      .btn img {
        margin-right: 8px;
      }
    }
  }

  .image {
    z-index: 1;
    display: grid;
    justify-items: center;
    margin-top: 32px;

    img {
      max-width: 328px;
    }

    @media (min-width: $tablet-lg) {
      margin-top: 0;

      img {
        max-width: 498px;
        width: auto;
      }
    }
  }
}

// suscriptions
.suscriptions {
  margin-top: 64px;
  margin-left: 16px;
  margin-right: 16px;
  display: flex;
  justify-content: center;

  &__title {
    @extend %h3-bold;
    text-align: center;
    margin-bottom: 12px;
  }

  &__description {
    @extend %p1-regular;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 32px;
  }

  .plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    @media (min-width: $phone-xl) {
      flex-direction: row;
      justify-content: space-between;
    }

    .plan {
      display: flex;
      align-items: center;
      flex-direction: column;

      &__content {
        background-color: #fbfcfb;
        padding: 24px 64px;
        border-radius: 8px;
        text-align: center;

        &--title {
          @extend %h2-bold;
          text-align: center;
        }

        &--description {
          @extend %p1-regular;
          max-width: 233px;
          margin-top: 12px;
          margin-bottom: 20px;
        }

        &--description p {
          padding-bottom: 20px;
        }

        &--description span {
          @extend %p1-bold;
        }

        &--actions {
          display: flex;
          justify-content: center;
  
          .btn {
            width: 200px;
          }
        }
      }

      .features {
        margin-top: 24px;
        display: grid;
        flex-direction: column;
        row-gap: 16px;

        .feature {
          display: grid;
          grid-template-columns: 40px auto;
          align-items: center;

          img {
            margin-right: 20px;
          }
        }
      }
    }
  } 
}

// footer
.footer {
  background-color: $secondary-color-1000;
  color: $white-color;
  margin-top: 64px;
  padding: 24px 16px 32px 16px;

  @media (min-width: $phone-xl) {
    padding: 32px 60px;
  }

  .asimov {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    &__detail {
      @extend %p2-regular;
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      margin-bottom: 28px;
    }

    &__apps {
      display: flex;
      justify-content: center;
      column-gap: 16px;

      button {
        @extend %b-medium;
      }

      button span {
        display: none;

        @media (min-width: $phone-xl) {
          display: inline;
        }
      }

      button img {
        margin-right: none;

        @media (min-width: $phone-xl) {
          margin-right: 8px;
        }
      }
    }
  }

  .navbar__botton {
    margin-bottom: 44px;
    display: block;

    @media (min-width: $phone-xl) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &--item {
      @extend %b-small;
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid $white-color;
      margin-bottom: 8px;

      @media (min-width: $phone-xl) {
        border-bottom: none;
      }
    }
  }

  .rights {
    text-align: center;
  }
}